In [12]:
import pandas as pd

In [13]:
airline_data = pd.read_csv("Data.csv")
airline_data

            City  Alaska_On_Time  Alaska_Delay  AM WEST_On_Time  AM West_Delay
0    Los angelos             497            62              694            117
1        Pheonix             221            12             4840            415
2      San Diego             212            20              383             65
3  san Francisco             503           102               20            129
4        Seattle            1841           305              201             61

In [14]:
airline_data['Total_Alaska_Flights'] = airline_data['Alaska_On_Time'] + airline_data['Alaska_Delay']
airline_data['Alaska_Percent_Delay'] = (airline_data['Alaska_Delay'] / airline_data['Total_Alaska_Flights']) * 100
airline_data['Alaska_Percent_Delay']

0    11.091234
1     5.150215
2     8.620690
3    16.859504
4    14.212488
Name: Alaska_Percent_Delay, dtype: float64

In [18]:
airline_data['Total_AMWest'] = airline_data['AM West_Delay'] + airline_data['AM WEST_On_Time']
airline_data['AMWest_Percent_Delay'] = (airline_data['AM West_Delay'] / airline_data['Total_AMWest']) * 100
airline_data['AMWest_Percent_Delay']

0    14.426634
1     7.897241
2    14.508929
3    86.577181
4    23.282443
Name: AMWest_Percent_Delay, dtype: float64

In [19]:
airline_data[['Alaska_Percent_Delay', 'AMWest_Percent_Delay']]

   Alaska_Percent_Delay  AMWest_Percent_Delay
0             11.091234             14.426634
1              5.150215              7.897241
2              8.620690             14.508929
3             16.859504             86.577181
4             14.212488             23.282443

In [20]:
for index, row in airline_data.iterrows():
    if row["Alaska_Percent_Delay"] > row["AMWest_Percent_Delay"]:
        airline_data.loc[index, 'Most_Delayed_Airline'] = 'Alaska'
    else:
        airline_data.loc[index, 'Most_Delayed_Airline'] = 'AMWest'

airline_data['Most_Delayed_Airline']

0    AMWest
1    AMWest
2    AMWest
3    AMWest
4    AMWest
Name: Most_Delayed_Airline, dtype: object

In [21]:
airline_data

,City,Alaska_On_Time,Alaska_Delay,AM WEST_On_Time,AM West_Delay,Total_Alaska_Flights,Alaska_Percent_Delay,Total_AMWest,AMWest_Percent_Delay,Most_Delayed_Airline
0,Los angelos,497,62,694,117,559,11.091234,811,14.426634,AMWest
1,Pheonix,221,12,4840,415,233,5.150215,5255,7.897241,AMWest
2,San Diego,212,20,383,65,232,8.620690,448,14.508929,AMWest
3,san Francisco,503,102,20,129,605,16.859504,149,86.577181,AMWest
4,Seattle,1841,305,201,61,2146,14.212488,262,23.282443,AMWest

Since the number of flights travelled among both airlines was not the same it was helpful to analyze the data based on the percentage of flights that were delayed among both airlines. The results show that AMWest had the greates percentage of delays among the five cities samples for the data set. Since a greter percentage of AWWest flights are delayed it is a reasonable to assume that Alaska airlines would be the more reliable for passengers flying to Los Angelos, Pheonix, San Diego, Sanfrancisco and Seattle.