# Data on background checks of people attempting to buy firearms.

### 1. Get the content

In [4]:
import pandas as pd
import requests
import os
firearm_data = 'data/firearm.csv'

if not os.path.exists(firearm_data):
    content = "https://raw.githubusercontent.com/BuzzFeedNews/nics-firearm-background-checks/master/data/nics-firearm-background-checks.csv"
    data = pd.read_csv(content)
    data.to_csv(firearm_data)
else:
    data = pd.read_csv(firearm_data)
data.head()

,Unnamed: 0,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,0,2020-02,Alabama,29633.0,604.0,24590.0,12531.0,1225.0,1217,0.0,...,0.0,0.0,0.0,32.0,17.0,3.0,0.0,3.0,0.0,75336
1,1,2020-02,Alaska,139.0,10.0,2560.0,1839.0,311.0,203,0.0,...,0.0,0.0,0.0,4.0,9.0,0.0,0.0,0.0,0.0,5466
2,2,2020-02,Arizona,6138.0,741.0,16839.0,8006.0,1424.0,1392,0.0,...,0.0,0.0,0.0,9.0,7.0,2.0,1.0,0.0,0.0,37100
3,3,2020-02,Arkansas,2994.0,731.0,8112.0,5453.0,363.0,542,4.0,...,0.0,0.0,0.0,18.0,8.0,4.0,0.0,0.0,0.0,21445
4,4,2020-02,California,32002.0,0.0,35570.0,22645.0,4221.0,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95430

### 2. A bit of general munging

In [5]:
data = (data.rename(columns={'Unnamed: 0':'no'})
    .dropna(thresh=4)
    .set_index('no')
    .sort_index())
data.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
no,,,,,,,,,,,,,,,,,,,,,
0,2020-02,Alabama,29633.0,604.0,24590.0,12531.0,1225.0,1217,0.0,45.0,...,0.0,0.0,0.0,32.0,17.0,3.0,0.0,3.0,0.0,75336
1,2020-02,Alaska,139.0,10.0,2560.0,1839.0,311.0,203,0.0,0.0,...,0.0,0.0,0.0,4.0,9.0,0.0,0.0,0.0,0.0,5466
2,2020-02,Arizona,6138.0,741.0,16839.0,8006.0,1424.0,1392,0.0,20.0,...,0.0,0.0,0.0,9.0,7.0,2.0,1.0,0.0,0.0,37100
3,2020-02,Arkansas,2994.0,731.0,8112.0,5453.0,363.0,542,4.0,15.0,...,0.0,0.0,0.0,18.0,8.0,4.0,0.0,0.0,0.0,21445
4,2020-02,California,32002.0,0.0,35570.0,22645.0,4221.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,95430

### 3. Tidying

In [6]:
tidy=pd.melt(data.reset_index(),id_vars=['no','state'], value_vars=list(data.columns)[3:],var_name="Permit Type", value_name='No of permits')
tidy.sort_values(by='state')
tidy=tidy.set_index('no')
tidy.head(10)

                   state     Permit Type  No of permits
no
0                Alabama  permit_recheck          604.0
1                 Alaska  permit_recheck           10.0
2                Arizona  permit_recheck          741.0
3               Arkansas  permit_recheck          731.0
4             California  permit_recheck            0.0
5               Colorado  permit_recheck            0.0
6            Connecticut  permit_recheck          396.0
7               Delaware  permit_recheck            0.0
8   District of Columbia  permit_recheck            0.0
9                Florida  permit_recheck            0.0