# Assignment 5

### 1. Northernmost airport in the United States

#### Get the name of the northernmost airport using latitude.

- Get the five northernmost airports

In [2]:
import pandas as pd
#import csv
data=pd.read_csv("airports.csv", delimiter=",") 
#get name of northernmost airport
data.nlargest(5,'lat')

,faa,name,lat,lon,alt,tz,dst,tzone
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
230,BRW,Wiley Post Will Rogers Mem,71.285446,-156.766003,44,-9,A,America/Anchorage
110,AIN,Wainwright Airport,70.638056,-159.994722,41,-9,A,America/Anchorage
708,K03,Wainwright As,70.613378,-159.860350,35,-9,A,America/Anchorage
152,ATK,Atqasuk Edward Burnell Sr Memorial Airport,70.467300,-157.436000,96,-9,A,America/Anchorage

- Get the northernmost airport

In [3]:
#get name of northernmost airport
data.nlargest(1,'lat')['name']

417    Dillant Hopkins Airport
Name: name, dtype: object

 ####  Answer

*The Nothernmost Airport is Dillant Hopkins Airport*

### 2. Easernmost airport in the United States

#### Get the name of the easternmost airport using latitude.

- List  of the five easternmost

In [4]:
#get names of 5 easternmost airports
data.nlargest(5,'lon')

,faa,name,lat,lon,alt,tz,dst,tzone
1290,SYA,Eareckson As,52.712275,174.113620,98,-9,A,America/Anchorage
942,MYF,Montgomery Field,32.475900,117.759000,17,8,A,Asia/Chongqing
396,DVT,Deer Valley Municipal Airport,33.411700,112.457000,1478,8,A,Asia/Chongqing
417,EEN,Dillant Hopkins Airport,72.270833,42.898333,149,-5,A,NaN
444,EPM,Eastport Municipal Airport,44.910111,-67.012694,45,-5,A,America/New_York

- Easternmost airport using latitude

In [5]:
#name of most easternmost airport
data.nlargest(1,'lon')['name']

1290    Eareckson As
Name: name, dtype: object

#### Answer

*The Easternmost airport is Eareckson As*

### 3. On February 12th, 2013, which New York area airport had the windiest weather?

In [6]:
#import csv
airport_weather=pd.read_csv("weather.csv", delimiter=",") 
airports=pd.read_csv("airports.csv", delimiter=",") [["faa","name","tzone"]]
#merge airport weather data and airports data to add names of airports and zones
df_airport_merge = pd.merge(airport_weather, airports, left_on='origin', right_on='faa')

#filter data using date and zone (New York) 
windiest=df_airport_merge.loc[(df_airport_merge['year'] == 2013) & (df_airport_merge['month'] == 2)& (df_airport_merge['day'] == 12) & (df_airport_merge['tzone'].str.contains(pat = 'New_York') ) ]
windiest

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour,faa,name,tzone
1006,EWR,2013,2,12,0,39.92,39.02,96.55,240.0,6.90468,NaN,0.0,1006.9,10.0,2013-02-12T05:00:00Z,EWR,Newark Liberty Intl,America/New_York
1007,EWR,2013,2,12,1,39.92,37.94,92.56,250.0,9.20624,NaN,0.0,1007.2,10.0,2013-02-12T06:00:00Z,EWR,Newark Liberty Intl,America/New_York
1008,EWR,2013,2,12,2,39.92,28.04,62.21,270.0,20.71404,25.31716,0.0,1007.8,10.0,2013-02-12T07:00:00Z,EWR,Newark Liberty Intl,America/New_York
1009,EWR,2013,2,12,3,39.02,26.96,61.63,260.0,1048.36058,NaN,0.0,1008.3,10.0,2013-02-12T08:00:00Z,EWR,Newark Liberty Intl,America/New_York
1010,EWR,2013,2,12,4,39.02,26.96,64.29,280.0,12.65858,NaN,0.0,1008.8,10.0,2013-02-12T09:00:00Z,EWR,Newark Liberty Intl,America/New_York
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18434,LGA,2013,2,12,19,41.00,21.92,46.23,260.0,14.96014,21.86482,0.0,1014.7,10.0,2013-02-13T00:00:00Z,LGA,La Guardia,America/New_York
18435,LGA,2013,2,12,20,39.92,23.00,50.46,290.0,10.35702,NaN,0.0,1013.6,10.0,2013-02-13T01:00:00Z,LGA,La Guardia,America/New_York
18436,LGA,2013,2,12,21,39.02,21.92,49.93,310.0,10.35702,NaN,0.0,1012.8,10.0,2013-02-13T02:00:00Z,LGA,La Guardia,America/New_York
18437,LGA,2013,2,12,22,39.02,23.00,52.26,310.0,11.50780,NaN,0.0,1012.7,10.0,2013-02-13T03:00:00Z,LGA,La Guardia,America/New_York
18438,LGA,2013,2,12,23,37.94,23.00,54.51,300.0,9.20624,NaN,0.0,1013.5,10.0,2013-02-13T04:00:00Z,LGA,La Guardia,America/New_York

In [7]:
#get name of windiest airport from filtered data
windiest.nlargest(1,'wind_speed')['name']

1009    Newark Liberty Intl
Name: name, dtype: object

#### Answer

*On February 12th, 2013, Newark Liberty Intl had the windiest weather in New york*